.footer {
  background: var(--color-1);
  border-top: 0.3rem solid var(--color-2);
  box-sizing: border-box;
  color: var(--color-3);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem var(--space);
  width: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-left-bottom {
  font-size: var(--fs-small);
  color: var(--color-4);
}

.footer-right {
  align-items: center;
  display: flex;
  gap: 1rem;
}
.footer-right .img-social {
  color: var(--color-3);
  display: block;
  height: 2rem;
  width: 2rem;
}
.footer-right .img-social:hover {
  opacity: 0.5;
}

.heart {
  color: var(--color-red);
}
