/* Constant */

:root {
  --color-1: #292c2f;
  --color-black: #000000;
  --color-grey: #8f9296;
  --color-red: #ff0000;
  --color-white: #ffffff;
  --font-text: "text", "Verdana", serif;
}

/* Header */

header {
  background: url("/img/header.png") no-repeat top center;
  background-color: var(--color-1);
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 100%;
}

/* Navigation */

.nav {
  background-color: var(--color-1);
  border-top: 5px solid var(--color-black);
  border-bottom: 5px solid var(--color-black);
  overflow: hidden;
  padding: 20px 30px 20px 30px;
}
.nav a {
  color: var(--color-white);
  float: left;
  font-family: var(--font-text);
  font-size: 15px;
  padding: 0 30px 0 0;
  text-align: center;
  text-decoration: none;
}
.nav_dropdown {
  float: left;
  overflow: hidden;
}
.nav_dropdown .nav_dropdown_button {
  background-color: inherit;
  border: none;
  color: var(--color-white);
  font-family: var(--font-text);
  font-size: 15px;
  margin: 0;
  outline: none;
  padding: 0 30px 0 0;
}
.nav_dropdown_content {
  background-color: var(--color-1);
  box-shadow: 5px 5px 10px var(--color-black);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}
.nav_dropdown_content a {
  color: var(--color-white);
  display: block;
  float: none;
  padding: 15px;
  text-align: left;
  text-decoration: none;
}
.nav a:hover,
.nav_dropdown:hover .nav_dropdown_button {
  color: var(--color-grey);
}
.nav_dropdown_content a:hover {
  color: var(--color-grey);
}
.nav_dropdown:hover .nav_dropdown_content {
  display: block;
}

/* HTML */

html {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}

/* Body */

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-text);
  font-size: 13px;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
}
h1 {
  color: var(--color-black);
  font-family: var(--font-text);
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: left;
  text-decoration: underline var(--color-red);
  text-shadow: -6px -4px 6px var(--color-grey);
}
.section {
  padding: 0 30px 30px 30px;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

/* Image */

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

#footer {
  background-color: var(--color-1);
  border-top: 5px solid var(--color-black);
  bottom: 0;
  box-sizing: border-box;
  height: 100px;
  padding: 20px 30px 20px 30px;
  position: absolute;
  text-align: left;
  width: 100%;
}
#footer .footer-left .footer-left-top {
  color: var(--color-white);
  font-size: 15px;
  padding: 0 0 10px 0;
}
#footer .footer-left .footer-left-bottom {
  color: var(--color-grey);
  float: left;
  font-size: 10px;
}
#footer .footer-left .footer-left-bottom a:hover {
  opacity: 0.5;
}
#footer .footer-right {
  float: right;
}
#footer .footer-right img {
  height: 25px;
  padding: 0 0 0 5px;
  width: 25px;
}
#footer .footer-right img:hover {
  opacity: 0.5;
}
