.theme {
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 3.5rem;
}

.toggle-track {
  background: var(--color-2);
  border-radius: 1rem;
  height: 1.5rem;
  position: relative;
  width: 100%;
}
[theme-settings="dark"] .toggle-track {
  background: var(--color-1);
}

.toggle-track:hover {
  opacity: 0.5;
}

.toggle-thumb {
  align-items: center;
  background: var(--color-3);
  border-radius: 50%;
  display: flex;
  height: 1.2rem;
  justify-content: center;
  left: 0.15rem;
  position: absolute;
  top: 0.15rem; /* (track height (1.5) - thumb height (1.2)) / 2 */
  transition: transform 0.5s ease;
  width: 1.2rem;
}
[theme-settings="dark"] .toggle-thumb {
  background: var(--color-2);
  transform: translateX(
    2rem
  ); /* track width (3.5) - thumb width (1.2) - left (0.15) - right (0.15) */
}

.sun,
.moon {
  height: 1.2rem;
  position: absolute;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  width: 1.2rem;
}

.sun {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}
[theme-settings="dark"] .sun {
  opacity: 0;
  transform: rotate(-90deg) scale(0.5);
}

.moon {
  opacity: 0;
  transform: rotate(90deg) scale(0.5);
}
[theme-settings="dark"] .moon {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}
